<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education4ol | Intern Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <style>
		 @import url(https://unpkg.com/@webpixels/css@1.0/dist/index.css);
		body{
			 background-color:#F8F8F8;
		}
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            padding: 90px 0 0;
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
            z-index: 99;
        }

        @media (max-width: 767.98px) {
            .sidebar {
                top: 11.5rem;
                padding: 0;
            }
        }
            
        .navbar {
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
        }

        @media (min-width: 767.98px) {
            .navbar {
                top: 0;
                position: sticky;
                z-index: 999;
            }
        }

        .sidebar .nav-link {
            color: #333;
        }

        .sidebar .nav-link.active {
            color: #0d6efd;
        }
    </style>
</head>
<body>
   <nav class="navbar navbar-light .bg-dark.bg-gradient p-3">
        <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
            <a class="navbar-brand" href="#">
				<img src="https://res.cloudinary.com/education4ol/image/upload/v1624697903/education4ol_vuw0rx.jpg"/>
               <b style="color:white;">Education4ol</b>
            </a>
            <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-12 col-md-4 col-lg-2">
            <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
            <div class="mr-3 mt-1">
                <a class="github-button" href="#" data-color-scheme="no-preference: dark; light: light; dark: light;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="0">00</a>
            </div>
            <div class="dropdown">
                  <button class="btn dropdown-toggle" style="background-color: midnightblue; color:white ;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                  Hi 
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<li>
					<!-- <form action="/intern_profile"  method="POST"  >
						<input type="hidden" id="adu" name="internid" value=   >
				<button type="submit" class="dropdown-item">Profile</button>

					</form> -->
						</li>
                  <li><a class="dropdown-item" href="/assignment_display">Tasks</a></li>
                  <li><a class="dropdown-item" href="/intern_messager">Messages</a></li>
                  <li><a class="dropdown-item" href="https://education4ol.com">Sign out</a></li>
                </ul>
              </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block .bg-dark.bg-gradient sidebar collapse" style="background-color: midnightblue;">
                <div class="position-sticky">
                    <ul class="nav flex-column" style="background-color: midnightblue; ">
                        <li class="nav-item" style="  ">
                          <a class="nav-link" aria-current="page" href="/dashboard" style="color:white">
							  <div style="padding:5px">
								  <img src="https://img.icons8.com/ios/25/FFFFFF/circled-menu.png"/>
                            <span class="ml-2">Dashboard</span>
							  </div>
                            
                          </a>
                        </li>
                    
                      
                        <li class="nav-item">
                          <a class="nav-link" href="/blogs" style="color:white">
							  <div style=" padding:5px ">
								  <img src="https://img.icons8.com/ios/25/FFFFFF/google-blog-search.png"/>
                            <span class="ml-2">Blogs</span>
							  </div>
                            
                          </a>
                        </li>
                   
                  
                        <li class="nav-item">
                          <a class="nav-link" href="/courses" style="color:white">
							  <div style="padding:5px ">
                          <img src="https://img.icons8.com/ios/25/FFFFFF/course-assign.png"/>
                            <span class="ml-2">Courses</span>
							  </div>
                          </a>
                        </li>
						
						
						 <li class="nav-item">
                          <a class="nav-link" href="#" style="color:white">
							  <div style="padding:5px">
                           <img src="https://img.icons8.com/ios/25/FFFFFF/task.png"/>
                            <span class="ml-2">Projects</span>
							  </div>
                          </a>
                        </li>
						
						
						 <li class="nav-item">
                          <a class="nav-link" href="/reports" style="color:white">
							<div style="background-color:#BB86FC ; padding:5px ; color:black ; border-radius:4px">
                            <img src="https://img.icons8.com/ios-filled/25/000000/pie-chart.png"/>
                            <span class="ml-2"><b>Reports</b></span>
							  </div>
                          </a>
                        </li>
						
						
						
						 <li class="nav-item">
                          <a class="nav-link" href="/payments" style="color:white">
							  <div style="padding:5px ">
                            <img src="https://img.icons8.com/ios/25/FFFFFF/visa.png"/>
                            <span class="ml-2">Payments</span>
							  </div>
							
                          </a>
                        </li>
						
						
						
						 <li class="nav-item">
                          <a class="nav-link" href="/activites" style="color:white">
							  <div style="padding:5px ">
                            <img src="https://img.icons8.com/ios/25/FFFFFF/under-computer.png"/>
                            <span class="ml-2">Activities</span>
							  </div>
                          </a>
                        </li>
						
						
						 <li class="nav-item">
                          <a class="nav-link" href="/settings" style="color:white">
                            <div style="padding:5px ">
								<img src="https://img.icons8.com/ios/25/FFFFFF/settings.png"/>
                            <span class="ml-2">Settings</span>
							  </div>
                          </a>
                        </li>
                       

                      
                      </ul>
                </div>
				<div style="margin-top: 25px; font-size: 12px;text-align: center; margin-bottom: -50px; color:white">
					 <li class="nav-item">
                           Powered by <b>UpClick Labs </b>
                        </li>
					<p>
						
					</p>
					
				</div>
            </nav>
			 <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
         
    
    
<p><%=intern[0].profile_img%> </p>
    <div class="card">
      <div class="card-header">
        <h6>Bootstrap 5 Table</h6>

      </div>
      <div class="table-responsive" >
		  <div style="height: 600px;overflow: scroll;">
        <table class="table table-hover table-nowrap" >
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Job Title</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Lead Score</th>
              <th scope="col">Company</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
			  
	<% for(var i=0;i<intern.length;i++){ %>
            <tr>
              <td data-label="Job Title">
                <img alt="..." src= '<%=intern[i].profile_img%>'  class="avatar avatar-sm rounded-circle me-2" >
                <a class="text-heading font-semibold" href="#">
                  <%= intern[i].Name %>
                </a>
              </td>
              <td data-label="Email">
                <span>Web Designer</span>
              </td>
              <td data-label="Phone">
                <a class="text-current" href="mailto:robert.fox@example.com"><%= intern[i].Email %></a>
              </td>
              <td data-label="Lead Score">
                <a class="text-current" href="tel:202-555-0152"><%= intern[i].Contact %></a>
              </td>
              <td data-label="Company">
                <span class="badge bg-soft-success text-success">7/10</span>
              </td>
              <td data-label="">
                <a class="text-current" href="#"><%= intern[i].profile_img %></a>
              </td>
              <td data-label="" class="text-end">
                <div class="dropdown">
                  <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <a href="#!" class="dropdown-item">
                      Action
                    </a>
                    <a href="#!" class="dropdown-item">
                      Another action
                    </a>
                    <a href="#!" class="dropdown-item">
                      Something else here
                    </a>
                  </div>
                </div>
              </td>
            </tr>
			    <%}%>
			  
			  
            <tr>
				<td data-label="Job Title">
                <img alt="..." src="https://images.unsplash.com/photo-1610271340738-726e199f0258?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">
                <a class="text-heading font-semibold" href="#">
                  Darlene Robertson
                </a>
              </td>
              <td data-label="Email">
                <span>Developer</span>
              </td>
              <td data-label="Phone">
                <a class="text-current" href="mailto:darlene@example.com">darlene@example.com</a>
              </td>
              <td data-label="Lead Score">
                <a class="text-current" href="tel:224-567-2662">224-567-2662</a>
              </td>
              <td data-label="Company">
                <span class="badge bg-soft-warning text-warning">5/10</span>
              </td>
              <td data-label="">
                <a class="text-current" href="#">Netguru</a>
              </td>
              <td data-label="" class="text-end">
                <div class="dropdown">
                  <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <a href="#!" class="dropdown-item">
                      Action
                    </a>
                    <a href="#!" class="dropdown-item">
                      Another action
                    </a>
                    <a href="#!" class="dropdown-item">
                      Something else here
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td data-label="Job Title">
                <img alt="..." src="https://images.unsplash.com/photo-1610878722345-79c5eaf6a48c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">
                <a class="text-heading font-semibold" href="#">
                  Theresa Webb
                </a>
              </td>
              <td data-label="Email">
                <span>Marketing Specialist</span>
              </td>
              <td data-label="Phone">
                <a class="text-current" href="mailto:theresa.webb@example.com">theresa.webb@example.com</a>
              </td>
              <td data-label="Lead Score">
                <a class="text-current" href="tel:401-505-6800">401-505-6800</a>
              </td>
              <td data-label="Company">
                <span class="badge bg-soft-danger text-danger">2/10</span>
              </td>
              <td data-label="">
                <a class="text-current" href="#">Figma</a>
              </td>
              <td data-label="" class="text-end">
                <div class="dropdown">
                  <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <a href="#!" class="dropdown-item">
                      Action
                    </a>
                    <a href="#!" class="dropdown-item">
                      Another action
                    </a>
                    <a href="#!" class="dropdown-item">
                      Something else here
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td data-label="Job Title">
                <img alt="..." src="https://images.unsplash.com/photo-1612422656768-d5e4ec31fac0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">
                <a class="text-heading font-semibold" href="#">
                  Kristin Watson
                </a>
              </td>
              <td data-label="Email">
                <span>Sales Manager</span>
              </td>
              <td data-label="Phone">
                <a class="text-current" href="mailto:cody.fisher@example.com">cody.fisher@example.com</a>
              </td>
              <td data-label="Lead Score">
                <a class="text-current" href="tel:307-560-8817">307-560-8817</a>
              </td>
              <td data-label="Company">
                <span class="badge bg-soft-success text-success">9/10</span>
              </td>
              <td data-label="">
                <a class="text-current" href="#">Mailchimp</a>
              </td>
              <td data-label="" class="text-end">
                <div class="dropdown">
                  <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <a href="#!" class="dropdown-item">
                      Action
                    </a>
                    <a href="#!" class="dropdown-item">
                      Another action
                    </a>
                    <a href="#!" class="dropdown-item">
                      Something else here
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td data-label="Job Title">
                <img alt="..." src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">
                <a class="text-heading font-semibold" href="#">
                  Robert Fox
                </a>
              </td>
              <td data-label="Email">
                <span>Web Designer</span>
              </td>
              <td data-label="Phone">
                <a class="text-current" href="mailto:robert.fox@example.com">robert.fox@example.com</a>
              </td>
              <td data-label="Lead Score">
                <a class="text-current" href="tel:202-555-0152">202-555-0152</a>
              </td>
              <td data-label="Company">
                <span class="badge bg-soft-success text-success">7/10</span>
              </td>
              <td data-label="">
                <a class="text-current" href="#">Dribbble</a>
              </td>
              <td data-label="" class="text-end">
                <div class="dropdown">
                  <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <a href="#!" class="dropdown-item">
                      Action
                    </a>
                    <a href="#!" class="dropdown-item">
                      Another action
                    </a>
                    <a href="#!" class="dropdown-item">
                      Something else here
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
			</div>
        </table>
      </div>
  
</div>
        </div>
    </div>
	
		</main>	
	
	

	
	
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>
      
    </script>
</body>
</html>